<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/static/common/jquery-3.1.1.js"></script>
    <!-- <script src="/static/common/layer/layer.js"></script> -->
    <script src="/static/common/layui/layui.js"></script>
    <link rel="stylesheet" href="/static/common/layui/css/layui.css">
</head>
<body>
<textarea id="demo" style="display: none;"></textarea>
<script>
layui.use('layedit', function(){
  var layedit = layui.layedit;
  layedit.set({
  uploadImage: {
    url: "{:url('picture')}" //接口url
    ,type: '' //默认post
  }
  });
  layedit.build('demo'); //建立编辑器
});
</script>
</body>
</html>