<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{$articleDetails.art_title}</title>
  <meta name="keywords" content="{$articleDetails.art_keywords}">
  <meta name="description" content="{$articleDetails.art_description}">
  <meta name="author" content='刘强,1090035743@qq.com'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="stylesheet" href="/static/common/layui/css/layui.css">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="刘强个人博客"/>
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="/static/blog/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/static/blog/assets/css/app.css">
  <script src="/static/common/jquery-3.1.1.js"></script>
  <script src="/static/common/layer/layer.js"></script>
  <script src="/static/common/layui/layui.js"></script>
  <script>
  $(document).ready(function(){
    url = window.location.href;
    var shareqq = "http://connect.qq.com/widget/shareqq/index.html?title={$articleDetails.art_title}&url="+url+"&desc={$articleDetails.art_description}&pics=&site={$articleDetails.art_title}";
    var shareweibo = "http://v.t.sina.com.cn/share/share.php?url="+url+"&title={$articleDetails.art_title}";
    $('#shareqq').attr('href',shareqq);
    $('#shareweibo').attr('href',shareweibo);
   });
  </script>
</head>
<body id="blog-article-sidebar">
<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
  <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a href="/blog.html">博客首页</a></li>
      {volist name="allCategory" id="data"}
      <li>
      <a href="/category-{$data['cate_id']}.html" target="_blank">{$data.cate_name}</a>
      </li>
      {/volist}
    </ul>
  </div>
</nav>
<hr>
<!-- nav end -->
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
      <article class="am-article blog-article-p">
        <div class="am-article-hd">
          <h1 class="am-article-title blog-text-center">{$articleDetails.art_title}</h1>
          <br>
          <p class="am-article-meta blog-text-center">
               <span><a href="" class="blog-color">{$articleDetails.art_editor} &nbsp;</a></span>
                <span>时间：{$articleDetails.art_time}</span>
                <span>点击：{$articleDetails.art_view}</span>
          </p>
        </div>        
        <div class="am-article-bd">
        {$articleDetails.art_content}
        </div>
      </article>
        
        <div class="am-g blog-article-widget blog-article-margin">
          <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
            <span class="am-icon-tags"> &nbsp;</span>
            {$articleDetails.art_tag}
            <hr>
            <!-- 分享给QQ好友 -->
            <a id="shareqq" target="_blank"><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
            <!-- 分享到微信 -->
            <a class="jiathis_button_weixin"><span class="am-icon-wechat am-icon-fw blog-icon"></span></a>
            <!-- 分享到微信JS -->
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
            <!-- 分享到微博 -->
            <a id="shareweibo"  target="_blank"><span class="am-icon-weibo am-icon-fw blog-icon" ></span></a>
          </div>
        </div>

        <hr>
        <div class="am-g blog-author blog-article-margin">
          <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
            <img src="{$photo}" alt="" class="blog-author-img am-circle">
          </div>
          <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
          <h3><span>作者 &nbsp;: &nbsp;</span><span class="blog-color">{$articleDetails.art_editor}</span></h3>
            <p>{$introduce}</p>
          </div>
        </div>
        <hr>
        <ul class="am-pagination blog-article-margin">
          {empty name="prev"}
          <li class="am-pagination-prev"><a>没有上一篇了</a></li>
          {else /}
          <li  class="am-pagination-prev" ><a href="/readarticle-{$prev[0]['art_id']}.html" target="_blank">{$prev[0]['art_title']}</a></li>
          {/empty}
          {empty name="next"}
          <li class="am-pagination-next"> <a>没有下一篇了</a></li>
          {else /}
          <li class="am-pagination-next" ><a href="/readarticle-{$next[0]['art_id']}.html" target="_blank">{$next[0]['art_title']}</a></li>
          {/empty}
          
        </ul>
        
        <hr>

    </div>

   
   
</div>

<!-- content end -->
  
  <footer class="blog-footer">
    <div class="blog-text-center">{$copyright}</div>    
  </footer>



<!--[if (gte IE 9)|!(IE)]><!-->
<!-- <script src="/static/blog/assets/js/jquery.min.js"></script> -->
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/static/blog/assets/js/amazeui.min.js"></script>
<!-- <script src="assets/js/app.js"></script> -->
<script src="/static/blog/js/article.js"></script>
</body>
</html>